<a href="https://colab.research.google.com/github/sonudk/Source-Code-from-Tutorials/blob/master/pandas_dataframe_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
# manually entering data in pandas
import os

In [0]:
# this dataframe can be created using dict
manual_dataframe=pd.DataFrame(
    {
    "S.N.":[1,2,3,4,5],
    "Roll No":[170735,170736,170737,170738,170739],
    "Name":["Sunil","Manish","Keshav","Jeetu","Jivnesh"],
    "Seniority":[-100,100,200,300,400]
    }
)

In [5]:
manual_dataframe

   S.N.  Roll No     Name  Seniority
0     1   170735    Sunil       -100
1     2   170736   Manish        100
2     3   170737   Keshav        200
3     4   170738    Jeetu        300
4     5   170739  Jivnesh        400

In [6]:
data=pd.read_csv("train.csv")

FileNotFoundError: ignored

In [0]:
data

In [0]:
data.head(9)

In [0]:
data.tail(12)

In [0]:
pd.options.display.max_rows
data

In [0]:
pd.options.display.max_columns
data

In [0]:
# how to make more costmable table in pandas using below code
# pd.options.display.XX = 1

In [0]:
# this is used to get data type of all columns
'''
See the data types of each column in your dataframe using the .dtypes property. Notes that character/string columns appear as ‘object’ datatypes.'''
data.dtypes

In [0]:
#To change the datatype of a specific column, use the .astype() function. For example, to see the ‘Age’ column as a string, use:
data['Pclass'].astype(str)

In [0]:
#type(data['Age'])

In [0]:
data.dtypes
# Doubt why still Age is shown int64 rather then object

Finally, to see some of the core statistics about a particular column, you can use the ‘describe‘ function.

For numeric columns, describe() returns basic statistics: the value count, mean, standard deviation, minimum, maximum, and 25th, 50th, and 75th quantiles for the data in a column.

*Note that if describe is called on the entire DataFrame, statistics only for the columns with numeric datatypes are returned, and in DataFrame format.*

In [0]:
data.describe()

For string columns, describe() returns the value count, the number of unique entries, the most frequently occurring value (‘top’), and the number of times the top value occurs (‘freq’)

In [0]:
data["Sex"].describe()

# Selecting and Manipulating Data

Selecting Columns

In [0]:
# using col name
data.Age.head()

In [0]:
# using col name in box
data["Age"].head(12)

In [0]:
# using numeric indexing and the iloc selector 
data.iloc[:,5].head()

When a column is selected using any of these methodologies, a pandas.Series is the resulting datatype. A pandas series is a one-dimensional set of data. It’s useful to know the basic operations that can be carried out on these Series of data, including summing (.sum()), averaging (.mean()), counting (.count()), getting the median (.median()), and replacing missing values (.fillna(new_value)).

In [0]:
data.Sex.count()

In [0]:
data.Age.nunique()

In [0]:
data.Fare.min(),data.Fare.max(),data.Fare.median()

Selecting multiple columns at the same time extracts a new DataFrame from your existing DataFrame. For selection of multiple columns, the syntax is:

square-brace selection with a list of column names, e.g. data[['column_name_1', 'column_name_2']]

using numeric indexing with the iloc selector and a list of column numbers, e.g. data.iloc[:, [0,1,20,22]]

In [0]:
data[['Age','Survived']].head(6)

In [0]:
data.iloc[:,[2,3,10,7]].tail(4)

**Selecting Rows**

Rows in a DataFrame are selected, typically, using the iloc/loc selection methods, or using logical selectors (selecting based on the value of another column or variable).

The basic methods to get your heads around are:

numeric row selection using the iloc selector, e.g. data.iloc[0:10, :] – select the first 10 rows.

label-based row selection using the loc selector (this is only applicably if you have set an “index” on your dataframe. e.g. data.loc[44, :]
logical-based row selection using evaluated statements, e.g. data[data["Area"] == "Ireland"] – select the rows where Area value is ‘Ireland’.

Note that you can combine the selection methods for columns and rows in many ways to achieve the selection of your dreams. For details, please refer to the post “Using iloc, loc, and ix to select and index data"

In [0]:
# to select one row
(data.iloc[2,:])
# using loc to do the same task
(data.loc[34,:])
# for a range of rows
data.iloc[3:10,:]

In [0]:
data.loc[23:]

In [0]:
# to selected row in that our specified entry comes
#please be careful in syntex of it
print(data[data["Ticket"]==2651])

![alt text](https://shanelynnwebsite-mid9n9g1q9y8tt.netdna-ssl.com/wp-content/uploads/2016/10/Pandas-selections-and-indexing-768x549.png)

In [0]:
data.iloc[[1,2,3],[1,9]]

In [0]:
data.iloc[3,8]

In [0]:
data.iloc[2:7,3:8]# in this case don't give square box

Deleting rows and columns (drop)

To delete rows and columns from DataFrames, Pandas uses the “drop” function.

To delete a column, or multiple columns, use the name of the column(s), and specify the “axis” as 1. Alternatively, as in the example below, the ‘columns’ parameter has been added in Pandas which cuts out the need for ‘axis’. The drop function returns a new DataFrame, with the columns removed. To actually edit the original DataFrame, the “inplace” parameter can be set to True, and there is no returned value.

In [0]:
data=data.drop("Age",axis=1)

In [0]:
data=data.drop(columns='Fare')

In [0]:
# Delete the Ticket column from the dataframe in place
# Note that the original 'data' object is changed when inplace=True
data.drop("Ticket",axis=1,inplace=True)

In [0]:
data

In [0]:
data=data.drop(['Sex','Name'],axis=1)

In [0]:
data

In [0]:
# we use axis=1 for dropping columns
# we use axis=0 for dropping rows
data=data.drop(23,axis=0)

In [0]:
data

In [0]:
data=data.drop(30,axis=0)
data

In [0]:
## Again, the inplace parameter will change the dataframe without assignment
data.drop(22,axis=0,inplace=True)

In [0]:
data

Rows can also be removed using the “drop” function, by specifying axis=0. Drop() removes rows based on “labels”, rather than numeric indexing. To delete rows based on their numeric position / index, use iloc to reassign the dataframe values, as in the examples below.

In [0]:
#to remove multiple columns
data=data.drop([24,65,89],axis=0)

In [0]:
data

In [0]:
# Delete the rows with label "Ireland"
# For label-based deletion, set the index first on the dataframe:
#data = data.set_index("Survived")

In [0]:
# why this is showing syntex error
#data.drop("E46", axis=0,inplace=True). # Delete all rows with label "Ireland"
# Delete the first five rows using iloc selector
data = data.iloc[5:,]

In [0]:
data

In [0]:
# I have problem in this case
'''# Delete the rows with label "Ireland"
# For label-based deletion, set the index first on the dataframe:
data = data.set_index("Cabin")
data = data.drop("E46", axis=0). # Delete all rows with label "Ireland"
'''

Renaming columns

Column renames are achieved easily in Pandas using the DataFrame rename function. The rename function is easy to use, and quite flexible. Rename columns in these two ways:

Rename by mapping old names to new names using a dictionary, with form {“old_column_name”: “new_column_name”, …}

Rename by providing a function to change the column names with. Functions are applied to every column name.

In [0]:
# again to avoid reassignment we use inline
data.rename(columns={'PassengerId':'ID'},inplace=True)

In [0]:
data

In [0]:
# Rename multiple columns in one go with a larger dictionary
# don't mess with syntex be careful it is the ever best advice
data.rename(
    columns={
  'Survived':'Not Died',
  'Cabin':'Box No'  
},
  inplace=True
)

In [0]:
data

Rename all columns using a function, e.g. convert all column names to lower case:

In [0]:
data.rename(columns=str.lower,inplace=True)

In [0]:
data

In [0]:
# also can do upper case 
data.rename(columns=str.upper,inplace=True)
data

In many cases, I use a tidying function for column names to ensure a standard, camel-case format for variables names. When loading data from potentially unstructured data sets, it can be useful to remove spaces and lowercase all column names using a lambda (anonymous) function:

In [0]:
# Quickly lowercase and camelcase all column names in a DataFrame
'''data = pd.read_csv("/path/to/csv/file.csv")
data.rename(columns=lambda x: x.lower().replace(' ', '_'))'''

# Exporting and Saving Pandas DataFrames

After manipulation or calculations, saving your data back to CSV is the next step. Data output in Pandas is as simple as loading data.


Two two functions you’ll need to know are to_csv to write a DataFrame to a CSV file, and to_excel to write DataFrame information to a Microsoft Excel file

In [0]:
# Output data to a CSV file
# Typically, I don't want row numbers in my output file, hence index=False.
# To avoid character issues, I typically use utf8 encoding for input/output.
data.to_csv("pandas_dataframe_tutorial.csv",index=False,encoding='utf-8')# Output data to an Excel file.
# For the excel output to work, you may need to install the "xlsxwriter" package.
data.to_excel("pandas_dataframe_tutorial.xlsx",sheet_name='sheet 1',index=False)

Additional useful functions
# Grouping and aggregation of data
As soon as you load data, you’ll want to group it by one value or another, and then run some calculations. There’s another post on this blog – Summarising, [Aggregating, and Grouping Data in Python Pandas](https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/), that goes into extensive detail on this subject